main {
  padding: 20px;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: color-mix(in srgb, color percentage, color percentage);
}

.score-board {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 أعمدة */
  gap: 16px;
  justify-items: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); /* 2 عمود لما الشاشة تكون صغيرة */
  }

  header {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
  }

  .score-board {
    font-size: 1rem;
  }
}

.card {
  transition: 300ms;
}
.card button {
  border: 5px solid white;
  background-color: white;
  padding: 0;
  width: 100%;
  aspect-ratio: 1 / 1; /* يخلي الزر مربع */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card:hover {
  transform: translateY(-10px);
}
